<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch="true" - to only proxy to sites listed, false to proxy to any site.
        logFile="<file with local path>" - if specified, events will be written to the log file.
-->
<ProxyConfig mustMatch="true" logFile="C:\Temp\Shared\proxy_logs\auth_proxy.log">
  <serverUrls>
    <!-- serverUrl options:
            url="<location>" of the ArcGIS Server, either specific URL or stem.

            matchAll="true" - to forward any request beginning with the url.

            username="<...>" password="<...>" - token will be requested as needed by the proxy automatically.

            oauth2Endpoint="<...>" - Portal-specific OAuth 2.0 authentication endpoint. Default "https://www.arcgis.com/sharing/oauth2/".
            clientId="<...>" clientSecret="<...>" - portal access token and then server-specific token will be obtained as needed by the proxy automatically and attached to all the matching requests.
            Optionally: client apps can pass clientId parameter which will be used by the proxy to distinguish between entries with same url values but different client ids stored in configuration.
            accessToken="<...>" - OAuth2 access token in lieu of on-demand access-token generation using clientId & clientSecret
            rateLimit="<number>" - max number of requests with particular referer over the rateLimitPeriod.
            rateLimitPeriod="<# of minutes>" - period within which # of requests sent with particular referer will be tracked. 60 is default.
-->
   <!-- Examples
    <serverUrl url="http://route.arcgis.com/arcgis/rest"
            username="JohnDoe"
            password="abc123"
            matchAll="true">
      </serverUrl>
      <serverUrl url="https://myserver/myapp/index.html"
           matchAll="true"
           oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
           clientId="jcgbkcZCaUWMGJtA"
           clientSecret="55149a14e4bb489dbbfab14d8cc7e16e"
           rateLimit="50"
           rateLimitPeriod="10">
      </serverUrl>
      <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
          matchAll="true"
          accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
          tokenParamName="access_token"
          rateLimit="50"
          rateLimitPeriod="10">
      </serverUrl>   -->

      <serverUrl url="http://tryitlive.arcgis.com/arcgis/rest/services/" matchAll="true"></serverUrl>
      <serverUrl url="http://arcgis4localgov2.maps.arcgis.com" matchAll="true"></serverUrl>
      <serverUrl url="http://arcgis-gov-1244222493.us-west-2.elb.amazonaws.com/arcgis/rest/services" matchAll="true"></serverUrl>
      <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://www.arcgis.com/sharing/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://services.arcgis.com/8KEQHzVdm3qDSW1h/arcgis/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://services.arcgis.com/doC3DvW5p9jGtDST/arcgis/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://54.203.249.87/arcgis/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://geocode.arcgis.com/arcgis/rest/services/" matchAll="true"></serverUrl>
      <serverUrl url="http://geoenrich.arcgis.com/arcgis/rest/"
	       username=""
	       password=""
	       matchAll="true"
	       rateLimit="1000"
         rateLimitPeriod="10">
      </serverUrl>
      <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
         matchAll="true"
         accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
         tokenParamName="access_token"
         rateLimit="50"
         rateLimitPeriod="10">
      </serverUrl>
  </serverUrls>

</ProxyConfig>
